.grid-container {
  display: flex;
  flex-wrap: wrap;
  height: 75vh;
  aspect-ratio: 1/1;
  position: relative;
}

.grid-cell {
  box-sizing: border-box;
  background-color: #efe8e8;
  border: 1px solid #b7b2b2;
  display: flex;
  justify-content: center;
  align-items: center;
}
